<div class="title-bar">
  <div class="title-bar-left">
    <div class="show-for-small-only">
        <button class="menu-icon" type="button"></button>
    </div>    
    <img src="https://fontmeme.com/permalink/171216/c2fbf7f5d53ba391f78f8ae6cbd94689.png" alt="cool-fonts" border="0"/>
  </div>
  <div class="title-bar-right">
      <a class="menu-item"><img src="https://fontmeme.com/permalink/171216/84608fd0e656b4f3e2c5bb3b80d51964.png" alt="cool-fonts" border="0"></a>
      <a class="menu-item"><img src="https://fontmeme.com/permalink/171216/cb839a200e58d6c4d6232c48a99187ef.png" alt="cool-fonts" border="0"></a>
      <a class="menu-item"><img src="https://fontmeme.com/permalink/171216/130e37677bb2ac67881e02291df7c5b5.png" alt="cool-fonts" border="0"></a>
  </div>
</div>