<div class="title-bar">
  <div class="title-bar-left">
    <div class="show-for-small-only verticle-align">
      <button class="menu-icon" type="button"></button>
    </div>
    <div>
      <img class="headline-image" src="https://fontmeme.com/permalink/171216/c2fbf7f5d53ba391f78f8ae6cbd94689.png" alt="cool-fonts" border="0" />
    </div>
  </div>
  <div class="show-for-medium">
    <div class="title-bar-right">
      <a class="menu-item">Home</a>
      <a class="menu-item">Battle Reports</a>
      <a class="menu-item">Subscribe</a>
    </div>
  </div>
</div>